body {
  background-image: url("../../images/books.jpg");
  background-image: linear-gradient(to right, rgba(0,48,78, 0), rgba(0,48,78, .75)), url("../../images/books.jpg");
  /* box-shadow: inset 0 0 0 1000px rgb(0, 48, 78);*/
  /* background-color: rgb(0, 48, 78); */
  
}

/*#backDiv {
  background-image: url("C:/new-new/images/books.jpg"),
  linear-gradient( rgb(0, 48, 78), rgb(2, 64, 102));
}*/

header {
  background-color: rgb(79, 81, 75);
  height: 65px;
  color: white;
  font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding-left: 25px;
  border-bottom: rgb(32, 32, 32) solid;
}

#stream {
  float: right;
  padding-top: 11px;
  padding-right: 25px;
}

#mapArea {
  width: 750px;
  height: auto;
  float: right;
  margin-top: 75px;
  color: rgb(0, 48, 78);
  margin-right: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: rgb(0, 48, 78);
  opacity: 75%;
  text-align: center;
  border-top: rgb(1, 36, 58) solid;
}

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}