html {
  position: relative;
  min-height: 100%;
  /* width: 100%; */
}

body {
  height: 100%;
  /* width: 100%; */
  background-image: url("../../images/news_2013_binarywalk_web.png");
  background-image: linear-gradient(to right, rgba(0, 48, 78, 0), rgba(0, 48, 78, .7)), url("../../images/news_2013_binarywalk_web.png");
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 65px;
}

header {
  height: 65px;
  color: white;
  font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding-left: 25px;
  background-color: rgb(0, 48, 78);
  border-bottom: rgb(1, 36, 58) solid;
}

a {
  color: white;
}

a.visited, a.hover {
  color: rgb(79, 81, 75);
}

#content {
  display: inline;
}

#stream {
  float: right;
  padding-top: 11px;
  padding-right: 25px;
}

#mapArea {
  max-width: 95%;
  width: 750px;
  height: auto;
  float: right;
  margin-top: 75px;
  color: rgb(0, 48, 78);
}

footer {
  position: absolute;
  /* float: clear;  */
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin-top: -75px;
  background-color: rgb(79, 81, 75);
  text-align: center;
  border-top: rgb(32, 32, 32) solid;
  color: rgb(177, 175, 175);
  clear: both;
}

/* This is for the weather div.*/

.bg-primary {
  max-width: 95%;
  color: white;
  background-color: rgba(25, 38, 12, 0.37) !important;
  font-size: 20px;
  margin-top: 75px;
}

#weatherDiv {
  float: left;
}

.smallText {
  font-size: 15px;
}

/* Small devices (portrait phones, 320px and up)*/

@media (min-width: 320px) {
  header {
    font-size: 35px;
    padding-left: 5px;
    height: 60px;
  }

  #stream{
    padding-right: 6px;
  }
  
}

/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {

  #mapArea{
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
  }

}

/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
  #mapArea {
    margin-right: 25px;
    width: 750px;    
  }
  #weatherDiv {
    margin-left: 25px;
  }
  .bg-primary {
    margin-top: 75px;

  }
}

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
}